<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8"/>
		<meta name="wap-font-scale" content="no" />
	    <meta name="author" content="ISUX"/>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<title>空店</title>
    <link rel="stylesheet" href="../../css/bill/bill.css">
    <link rel="stylesheet" href="../../css/jin-base.css">
    <link rel="stylesheet" href="../../css/frozen.css">
</head>
<body>
<div id="container" class="container">
    <router-view></router-view>
</div>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/vue-infinite-scroll.js"></script>
<script src="../../js/lib/vue-router.js"></script>
<script src="../../js/bill/index.js"></script>
<script>
</script>
</body>
