.color-9b{color: #9b9b9b; }
.color-4a{color: #4a4a4a; }
.color-499{color: #4990E2;}
.color-white{color: #fff; }
.color-money{color: #FF3E2A; }
.color-money-type{color: #4990E2; }
.font36{font-size: 36px}

.margin-tb-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.padding-tb-0{
  padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.padding-tb-10{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*发现-提醒*/
.discover-message-top{
    padding: 20px 0;
}
.discover-message-top .message-nav-btn{
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #9B9B9B;
    background: #F7F7F7;
    border: 1px solid #DADADA;
    border-radius: 100px;
}
.discover-message-top .return-btn{
    width: 34px;
}
.discover-message-top .filtrate-btn{
    width: 60px;
}
//筛选弹框
.filtrate-tk{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0.94;
  background: #FFFFFF;
}
.filtrate-input{
  background: #F0F0F0 !important;
  border-radius: 3px !important;
}
.filtrate-list{
  overflow: hidden;
}
.filtrate-list>li{
  width: 32%;
  float: left;
  padding: 2px 0;
  margin-bottom: 10px;
  text-align: center;
}
.filtrate-list>li:nth-child(2), .filtrate-list>li:nth-child(5), .filtrate-list>li:nth-child(8){
  width: 35.99%;
  border-left: 1px solid #F0F0F0;
  border-right: 1px solid #F0F0F0;
}
@media (max-width: 320px){
    .message-he-type{margin-right: -10px}
    .invite-time{
    position: absolute;
    right:10px;
}
}

//钱包部分
.discover-wallet-top{
    padding: 20px 0;
    background: #FF433C;
}
.discover-wallet-top .wallet-nav-btn{
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background-color: rgba(255,255,255,0.5);
  border-radius: 100px;
}
.discover-wallet-top .return-btn{
    width: 34px;
}
.discover-wallet-top .filtrate-btn{
    width: 60px;
}
.wallet-list>li{
   padding-left: 15px;
    padding-right:  15px;
    margin-left: 0 !important;
    -webkit-box-align: center;
}
.item-card>.home-row>li{
  width: 24.99%;
  height: 95px;
  position: relative;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
@media all and (max-width: 320px){
    .item-card>.home-row>li{
        height: 80px;
    }
  .buil-list >li{
    padding: 10px 10px;
  }
}
.main-nav-icon{
    width: 50px;
    height: 35px;
    background-size: 600%;
    background-size: calc(600%);
    background-image: url(../../images/home/main-nav-icon.png);
    background-repeat: no-repeat;
    box-sizing: content-box;
}

//账单列表
.bill-list-one{
  border-top: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid;
  background-color: #f7f7f7!important;
}
.bill-list-one > li {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px!important;
}
.bill-list-one .bill-list-info {
	-webkit-box-orient: horizontal
}
.bill-list-one h4{
  -webkit-box-flex: 1;
}
.bill-list-info{
  -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    padding-right: 15px;
}
.bill-list-time{
  display: -webkit-box;
  -webkit-box-align: center;
  text-align: center;
}
.bill-border-b {
    border-bottom: 1px solid #e0e0e0;
}
.bill-list-type{
     -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    padding-right: 15px;
}
//账单详情
.bill-details-avatar{
    width: 25px;
    height: 25px;
    -webkit-border-radius: 200px;
    overflow: hidden;
}
.bill-details-avatar >span{
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-border-radius: 200px;
}
.buil-list{background-color: #fff}
.buil-list >li{
  display: -webkit-box;
  position: relative;
  padding: 10px 15px;
  -webkit-box-align: center;
}
.like-icon{
  max-width: 70%;
  height: 18px;
  margin-right: 15px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

}
.like-icon:after {
    font-family: iconfont!important;
    font-size: 32px;
    line-height: 44px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    display: block;
    color: rgba(0,0,0,.5);
    color: #c7c7c7;
    content: "\e600";
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -22px;
    margin-right: -10px
}
//充值
.recharge-avatar{
  width: 30px;
  height: 30px;
  margin: 5px 0;
  border-radius: 4px;
}
.recharge-input{
  padding: 2px 0;
  -webkit-box-flex: 1;
}
.recharge-input input{
  display: block;
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
}
.recharge-btn{
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 3px;
}
.btn-yellow{background: #FFCB00;}
.btn-red{background: #FF3E2A;}
.btn-green{background: #13BE7B;}

//提现
.bank-text{
  background: #F3F3F3;
  font-size: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*底部提示框*/
.ui-actionsheet-cnt {
    font-size: 21px;
    position: fixed;
    bottom: 0;
    padding: 0 0px !important;
    width: 100%;
    text-align: justify;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(100%);
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: .3s !important;
}
//充值提现状态
.execute-pass-avatar{
  width: 80px !important;
  height: 80px;
  margin-top: 30px;
  border-radius: 2px;
}
.execute-pass-avatar>span{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  background: #FF3E2A;
  transform: rotate(-45deg) ;
}
.execute-details{
  width: 100%;
  margin-top: 35px;
  background: #F3F3F3;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.05);
}
.execute-details>li{display: -webkit-box;}
