@charset "UTF-8";
/*开始设置*/
.ul-all > li {
  padding-right: 30px;
  -webkit-box-align: center; }

.ui-list > li {
  position: relative;
  margin-left: 15px;
  line-height: 24px;
  display: -webkit-box; }

/*02*/
.possword {
  margin-top: 15px;
  margin-bottom: 15px; }

/*03*/
.exit {
  margin-top: 15px;
  margin-bottom: 15px; }

.exit-span {
  display: block;
  background: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px; }

/*字体颜色*/
.txt-color-ddd {
  color: #ddd; }

.txt-color-fff {
  color: #fff; }

.txt-color-9b {
  color: #9b9b9b; }

.txt-color-6f {
  color: #6f6f6f; }

.txt-color-d6 {
  color: #D6D6D6; }

.txt-color-555 {
  color: #555; }

.txt-color-red {
  color: red; }

.txt-color-777 {
  color: #777; }

/*边框边*/
.border-t-1 {
  border-top: 1px solid #ddd; }

.border-b-1 {
  border-bottom: 1px solid #ddd; }

.bg-fff {
  background: #fff; }

div, p, input, a, h1, h2, h3, h4, h5, h6, span {
  padding: 0;
  margin: 0; }
