<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
        <meta name="wap-font-scale" content="no" />
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	    <title>我的-银行卡</title>
        <link rel="stylesheet" href="../../css/layer.css">
        <link rel="stylesheet" href="../../css/weui.css">
		<link rel="stylesheet" href="../../css/jin-base.css"/>
        <link rel="stylesheet" href="../../css/mine/bank-cards.css">
    </head>
	<body class="bg-white">
    <div id="container" class="container" v-cloak>
        <!--银行卡面板-->
        <div class="bank-card-dashboard rlt" v-show="visible.home">
            <div class="bank-card-overview">
                <div class="button-group clearfix">
                    <span @click="goBack" class="jin-icon-fanhui jin-icon fanhui"></span>
                    <span @click="goAddCard" class="tianjia">添加</span>
                </div>
                <h1>银行卡</h1>
                <div class="p-l-7 abs b0" v-show="visible.hasCard">
                    <span class="number">{{visible.cardNum}}</span>
                    <span class="font18">张</span>
                </div>
                <div class="p-l-7 abs notyet" v-show="!visible.hasCard">
                     <span class="jin-icon-icon jin-icon notyet-icon"></span>
                    <span class="notyet-text">尚未添加</span>
                </div>
            </div>
        </div>
        <!--单张银行卡-->
        <div class="bank-cards" v-show="visible.hasCard">
            <template v-for="card in bankCards.data">
                <div @click="selectCard(card)" class="bank-card-cell" :class="card.css" key="card.id">
                    <div class="title">
                        <img :src="card.logo" alt="" class="logo">
                        <span class="font14 p-l-38">{{ card.bank_name }}</span>
                        <span class="note font12">(用于{{ card.type }}开户)</span>
                    </div>
                    <div class="card-number font24">
                        ****&nbsp;****&nbsp;****&nbsp;<span>{{ card.bank_card_no }}</span>
                    </div>
                    <div class="card-owner font12">
                        持卡人：{{ card.real_name }}
                    </div>
                </div>
            </template>
        </div>
        <!--缺省状态-->
        <div class="card-null" v-show="visible.nullResult">
            <img src="../../images/null-data.png" alt="">
            <span>空旷到成为森林</span>
        </div>
        <!--编辑银行卡-->
        <div v-show="cardSelected.visible">
            <div class="weui-mask" id="iosMask" @click="cardSelected.visible = false;" ></div>
            <div class="weui-actionsheet weui-actionsheet_toggle my-actionsheet" id="iosActionsheet">
                <div class="weui-actionsheet__menu" style="border-radius: 5px">
                    <div class="weui-actionsheet__cell my-small-cell">您可对{{ cardSelected.bank_card_no }}尾号的{{ cardSelected.bank_name }}卡进行操作</div>
                    <div class="weui-actionsheet__cell my-delete-cell" @click="deleteCard">删除</div>
                </div>
                <div class="weui-actionsheet__action" style="border-radius: 5px">
                    <div class="weui-actionsheet__cell my-text-cell" id="iosActionsheetCancel" @click="cardSelected.visible = false;">取消</div>
                </div>
            </div>
        </div>
        <!--添加银行卡-->
        <div class="card-form" v-show="visible.addPage">
            <div class="legend">
                <span>{{ ownerInfo.real_name }}</span>
                <span>{{ ownerInfo.id_card_no }}</span>
            </div>
            <div class="weui-cells weui-cells_form my-cells">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">银行</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" v-model="cardAdding.bank_name" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">银行卡号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" v-model="cardAdding.bank_card_no" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" v-model="cardAdding.cellphone" />
                    </div>
                </div>
                <div class="weui-cell weui-cell_vcode">
                    <div class="weui-cell__hd">
                        <label class="weui-label">验证码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" v-model="cardAdding.verify_code">
                    </div>
                    <div class="weui-cell__ft" v-show="!cardAdding.counting">
                        <button @click="getVerifyCode" class="weui-vcode-btn">获取验证码</button>
                    </div>
                    <div class="weui-cell__ft" v-show="cardAdding.counting">
                        <button class="weui-vcode-btn vcode-ing">{{ cardAdding.countingNum }}s</button>
                    </div>
                </div>
                <div class="button-panel bank-card-panel">
                    <a @click="bindCard" href="javascript:;" class="weui-btn weui-btn_primary">绑定银行卡</a>
                </div>
            </div>
        </div>
        <!--验证提示框-->
        <div class="js_dialog my-dialog" v-show="cardAdding.dialogShow">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">
                    <!--<p>-->
                        <!--添加银行卡需验证身份-->
                    <!--</p>-->
                    <!--<span>-->
                        <!--验证码已经发送到您绑定的手机{{ cardAdding.cellphone | cellphone }}-->
                    <!--</span>-->
                    <p>
                        {{ cardAdding.message }}
                    </p>
                </div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" @click="closeDialog">知道了</a>
                </div>
            </div>
        </div>
        <!--实名认证提示框-->
        <div class="js_dialog my-dialog" v-show="certDialog">
            <div class="weui-mask"></div>
            <div class="weui-dialog cert-dialog">
                <div class="weui-dialog__bd">
                    <div class="img-div">
                        <img class="cert-img" src="../../images/id-alert.png" alt="">
                    </div>
                    <p>
                        请先开通实名认证
                    </p>
                    <span class="cert-span">
                        您的账户未实名，无法操作此步骤，请先前往实名认证。
                    </span>
                </div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary cert ">去开通</a>
                </div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary cert close" @click="certDialog = false;">关闭</a>
                </div>
            </div>
        </div>

    </div>
    <script src="../../js/lib/vue.js"></script>
    <script src="../../js/lib/jsencrypt.js"></script>
    <script src="../../js/lib/layer.js"></script>
    <!--<script src="../../js/lib/vue-router.js"></script>-->
    <script src="../../js/lib/axios.js"></script>
    <script src="../../js/lib/fastclick.js"></script>
    <script src="../../js/mine/bank-cards.js"></script>
	</body>
</html>