<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
        <meta name="wap-font-scale" content="no" />
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	    <title>人脉</title>
        <link rel="stylesheet" href="../../css/weui.css"/>
        <link rel="stylesheet" href="../../css/jin-base.css"/>
        <link rel="stylesheet" href="../../css/connection/connection.css">
    </head>
	<body>
    <div id="container" class="container">
        <!--搜索-->
        <div class="weui-search-bar" :class="{ 'weui-search-bar_focusing': isFocus }">
            <form class="weui-search-bar__form">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input v-focus="isFocus" v-model="search" type="search" class="weui-search-bar__input" placeholder="搜索" required/>
                    <a class="weui-icon-clear" @click="clearSearch"></a>
                </div>
                <label class="weui-search-bar__label" @click="focusSearch">
                    <i class="weui-icon-search"></i>
                    <span>搜索</span>
                </label>
            </form>
            <a class="weui-search-bar__cancel-btn" @click="cancelSearch">取消</a>
        </div>
        <!--信息汇总-->
        <div class="info-overall bg-white">
            <div class="first">
                <div class="number">
                    <p>459</p>
                </div>
                <div class="filter">
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">筛选</a>
                </div>
            </div>
            <div class="second font12 color9b">
                <span>一度人脉总人数</span>
            </div>
            <div class="third">
                <div class="text-center">
                    <p class="normal-num">400</p>
                    <p class="normal-txt">注册用户</p>
                </div>
                <div class="detail-group">
                    <div class="text-center">
                        <p class="normal-num">20</p>
                        <p class="normal-txt">微股东</p>
                    </div>
                    <div class="text-center">
                        <p class="normal-num">30</p>
                        <p class="normal-txt">银卡</p>
                    </div>
                    <div class="text-center">
                        <p class="normal-num">9</p>
                        <p class="normal-txt">金卡</p>
                    </div>
                </div>

            </div>
        </div>
        <!--面板-->
        <!--<div class="weui-panel my-weui-panel">-->
            <!--<div class="weui-panel__bd">-->
                <!--<div class="weui-media-box weui-media-box_small-appmsg">-->
                    <!--<div class="weui-cells">-->
                        <!--<a class="weui-cell weui-cell_access my-weui-cell" href="javascript:;">-->
                            <!--<div class="weui-cell__hd">-->
                                <!--<span class="jin-icon-construction jin-iconfont zhiyuan"></span>-->
                            <!--</div>-->
                            <!--<div class="weui-cell__bd weui-cell_primary">-->
                                <!--<p>新的朋友</p>-->
                            <!--</div>-->
                        <!--</a>-->
                        <!--<a class="weui-cell weui-cell_access my-weui-cell" href="javascript:;">-->
                            <!--<div class="weui-cell__hd">-->
                                <!--<span class="jin-icon-construction jin-iconfont zhiyuan zuzhi"></span>-->
                            <!--</div>-->
                            <!--<div class="weui-cell__bd weui-cell_primary">-->
                                <!--<p>一度人脉(18)</p>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--我的邀请人-->
        <div class="weui-cells__title">我的邀请人</div>
        <div class="weui-cells inviter">
            <div class="weui-cell weui-cell_access my-weui-cell">
                <div class="weui-cell__hd my-img">
                    <img class="img" src="https://team.weui.io/avatar/gaby.jpg" alt="">
                </div>
                <div class="weui-cell__bd margin-l-10">
                    <h4 class="weui-media-box__title font14 fw500">安一奇</h4>
                    <p class="weui-media-box__desc font12 line-h-16">真实姓名：安然</p>
                </div>
                <div class="red-spot"></div>
                <div class="badge">
                    金卡VIP
                </div>
            </div>
        </div>
        <!--通讯录-->
        <div class="weui-cells__title">A</div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access my-weui-cell">
                <div class="weui-cell__hd my-img">
                    <img class="img" src="https://team.weui.io/avatar/gaby.jpg" alt="">
                </div>
                <div class="weui-cell__bd margin-l-10">
                    <h4 class="weui-media-box__title font14 fw500">安一奇</h4>
                    <p class="weui-media-box__desc font12 line-h-16">真实姓名：安然</p>
                </div>
                <div class="red-spot"></div>
            </div>

            <div class="weui-cell weui-cell_access my-weui-cell">
                <div class="weui-cell__hd my-img">
                    <img class="img" src="https://team.weui.io/avatar/rongle.jpg" alt="" >
                </div>
                <div class="weui-cell__bd margin-l-10">
                    <h4 class="weui-media-box__title font14 fw500">哎呀呀</h4>
                    <p class="weui-media-box__desc font12 line-h-16">真实姓名：<span class="unnamed font10">未实名</span></p>
                </div>
            </div>
        </div>
        <!--新的朋友-->
        <!--<div class="weui-cells__title">新的朋友</div>-->
        <!--<div class="weui-cells new-friend">-->
            <!--<div class="weui-cell weui-cell_access active">-->
                <!--<div class="weui-cell__hd my-img">-->
                    <!--<img class="img" src="https://team.weui.io/avatar/gaby.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="weui-cell__bd margin-l-10">-->
                    <!--<h4 class="weui-media-box__title font14 fw500 line-h-16 mt-n-5">安一奇</h4>-->
                    <!--<p class="weui-media-box__desc font12 line-h-16">真实姓名：安然 <span class="unnamed b-red font10">已实名</span></p>-->
                    <!--<p class="weui-media-box__desc font12 line-h-20">请求添加你为好友</p>-->
                <!--</div>-->
                <!--<a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary add-button">添加</a>-->
            <!--</div>-->

            <!--<div class="weui-cell weui-cell_access">-->
                <!--<div class="weui-cell__hd my-img">-->
                    <!--<img class="img" src="https://team.weui.io/avatar/rongle.jpg" alt="" >-->
                <!--</div>-->
                <!--<div class="weui-cell__bd margin-l-10">-->
                    <!--<h4 class="weui-media-box__title font14 fw500 line-h-16 mt-n-5">哎呀呀</h4>-->
                    <!--<p class="weui-media-box__desc font12 line-h-16">真实姓名：<span class="unnamed font10">未实名</span></p>-->
                    <!--<p class="weui-media-box__desc font12 line-h-20">请求添加你为好友</p>-->
                <!--</div>-->
                <!--<a href="javascript:;" class="weui-btn_mini add-button gray-badge font12">已添加</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--搜索结果-->
        <!--<div class="weui-cells__title">新的朋友-搜索结果</div>-->
        <!--<div class="weui-cells">-->
            <!--<div class="weui-cell weui-cell_access my-weui-cell">-->
                <!--<div class="weui-cell__hd my-img">-->
                    <!--<img class="img" src="https://team.weui.io/avatar/gaby.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="weui-cell__bd margin-l-10">-->
                    <!--<h4 class="weui-media-box__title font14 fw500">安一奇</h4>-->
                    <!--<p class="weui-media-box__desc font12 line-h-16">真实姓名：安然</p>-->
                <!--</div>-->
                <!--<div class="red-spot"></div>-->
                <!--<a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary add-button top20">添加</a>-->
            <!--</div>-->

            <!--<div class="weui-cell weui-cell_access my-weui-cell">-->
                <!--<div class="weui-cell__hd my-img">-->
                    <!--<img class="img" src="https://team.weui.io/avatar/rongle.jpg" alt="" >-->
                <!--</div>-->
                <!--<div class="weui-cell__bd margin-l-10">-->
                    <!--<h4 class="weui-media-box__title font14 fw500">哎呀呀</h4>-->
                    <!--<p class="weui-media-box__desc font12 line-h-16">真实姓名：<span class="unnamed font10">未实名</span></p>-->
                <!--</div>-->
                <!--<a href="javascript:;" class="weui-btn_mini add-button gray-badge top20 em-6 font12">等待对方确认</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--找不到该用户-->
        <div class="weui-cells__title">找不到该用户</div>
        <div class="weui-cells null-result">
            <div class="weui-cell">
                <img src="../../images/null-result.png" alt="" style="width:60px;">
            </div>
        </div>




    </div>
    <script src="../../js/lib/vue.js"></script>
    <script src="../../js/lib/vue-router.js"></script>
    <script src="../../js/lib/axios.js"></script>
    <script src="../../js/lib/jsencrypt.js"></script>
    <script src="../../js/lib/fastclick.js"></script>
    <script src="../../js/connection/connection.js"></script>
</body>
</html>