<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
        <meta name="wap-font-scale" content="no" />
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <!--开发选项 不使用缓存-->
        <!--<meta http-equiv="Expires" content="0">-->
        <!--<meta http-equiv="Pragma" content="no-cache">-->
        <!--<meta http-equiv="Cache-control" content="no-cache">-->
        <!--<meta http-equiv="Cache" content="no-cache">-->
        <!---->
	    <title>人脉</title>
        <link rel="stylesheet" href="../../css/weui.css"/>
        <link rel="stylesheet" href="../../css/jin-base.css"/>
        <link rel="stylesheet" href="../../css/connection/connection.css">
    </head>
	<body>
    <div id="container" class="container" :style="searchBgWhite" v-cloak>
        <!--信息汇总-->
        <div class="info-overall bg-white" v-show="visible.homePage">
            <div class="first">
                <div class="number text-center">
                    <p>{{peopleData.totalRows}}</p>
                    <div class="second font12 color9b">
                        <span>一度人脉总人数</span>
                    </div>
                </div>
                <div class="filter">
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" @click="enterSearchPage">筛选</a>
                </div>
            </div>
            <div class="third">
                <div class="text-center">
                    <p class="normal-num">{{peopleData.other_count.register_count}}</p>
                    <p class="normal-txt">注册用户</p>
                </div>
                <div class="detail-group">
                    <div class="text-center">
                        <p class="normal-num">{{peopleData.other_count.gudong_count}}</p>
                        <p class="normal-txt">微股东</p>
                    </div>
                    <div class="text-center">
                        <p class="normal-num">{{peopleData.other_count.silver_count}}</p>
                        <p class="normal-txt">银卡</p>
                    </div>
                    <div class="text-center">
                        <p class="normal-num">{{peopleData.other_count.gold_count}}</p>
                        <p class="normal-txt">金卡</p>
                    </div>
                </div>

            </div>
        </div>
        <!--我的邀请人-->
        <div v-show="visible.homePage">
            <div class="weui-cells__title">我的邀请人</div>
            <div class="weui-cells inviter">
                <div class="weui-cell weui-cell_access my-weui-cell">
                    <div class="weui-cell__hd my-img">
                        <img class="img" :src="peopleData.my_inviting.wechat_avatar" alt="">
                    </div>
                    <div class="weui-cell__bd margin-l-10">
                        <h4 class="weui-media-box__title font14 fw500">{{peopleData.my_inviting.user_name}}</h4>
                        <p class="weui-media-box__desc font12 line-h-16">真实姓名：{{peopleData.my_inviting.real_name}}</p>
                    </div>
                    <div class="red-spot"></div>
                    <div :style="badge(peopleData.my_inviting.level_name)" class="badge">
                        {{peopleData.my_inviting.level_name}}
                    </div>
                </div>
            </div>
        </div>
        <!--通讯录-->
        <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="0" infinite-scroll-immediate-check="false" style="margin-bottom: 92px" v-show="visible.homePage" key="normalSearch" key2="test">
            <template v-for="(items, key) in peopleData.data" >
                <div class="weui-cells__title">{{key}}</div>
                <template v-for="item in items">
                    <div class="weui-cells" :key="item.user_sn">
                        <div class="weui-cell weui-cell_access my-weui-cell">
                            <div class="weui-cell__hd my-img">
                                <img class="img" :src="item.wechat_avatar" alt="">
                            </div>
                            <div class="weui-cell__bd margin-l-10">
                                <h4 class="weui-media-box__title font14 fw500">{{item.user_name}}</h4>
                                <p class="weui-media-box__desc font12 line-h-16">
                                    真实姓名：
                                    <span :class="{ unnamed: !item.real_name, font10: true }">{{item.real_name ? item.real_name : '未实名'}}</span>
                                </p>
                            </div>
                            <div :style="badge(item.level)" class="badge">
                                {{item.level}}
                            </div>
                        </div>
                    </div>
                </template>
            </template>
            <div class="weui-loadmore" v-show="busy">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
            <div class="weui-loadmore weui-loadmore_line weui-loadmore_dot" v-show="!busy">
                <span class="weui-loadmore__tips" style="background: transparent"></span>
            </div>
        </div>
        <!--搜索-->
        <div v-if="visible.searchPage" class="weui-search-bar weui-search-bar_focusing">
            <form class="weui-search-bar__form">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input v-model="searchPeopleState.search" type="search"  class="weui-search-bar__input" v-focus  :placeholder="searchPlaceHolder" @input="onSearch"/>
                    <input type='text' style='display:none'/>
                    <a class="weui-icon-clear" @click="clearSearch"></a>
                </div>
            </form>
            <a class="weui-search-bar__cancel-btn search-text" @click="cancelSearch">返回</a>
        </div>
        <!--搜索筛选-->
        <div v-show="visible.searchType" style="padding-bottom: 20px">
            <div class="weui-flex one-floor">
                <div class="weui-flex__item" @click="changeSearchType('0')"><div class="placeholder">全部</div></div>
                <div class="weui-flex__item" @click="changeSearchType('1')"><div class="placeholder">注册用户</div></div>
                <div class="weui-flex__item" @click="changeSearchType('2')"><div class="placeholder no-border">合格微股东</div></div>
            </div>
            <div class="weui-flex two-floor">
                <div class="weui-flex__item" @click="changeSearchType('3')"><div class="placeholder">银卡VIP</div></div>
                <div class="weui-flex__item" @click="changeSearchType('4')"><div class="placeholder">金卡VIP</div></div>
                <div class="weui-flex__item"><div class="placeholder no-border"></div></div>
            </div>
        </div>
        <!--搜索结果-->
        <div v-show="visible.searchResult" key="keywordSearch" v-infinite-scroll="onSearch" infinite-scroll-disabled="searchBusyComputed" infinite-scroll-distance="0" infinite-scroll-immediate-check="false" style="min-height: 100vh">
            <template v-for="(data, index) in searchPeopleResult.data">
                <div class="weui-cells" :key="data.user_sn" :class="borderBottom(index)">
                    <div class="weui-cell weui-cell_access my-weui-cell">
                        <div class="weui-cell__hd my-img">
                            <img class="img" :src="data.wechat_avatar" alt="">
                        </div>
                        <div class="weui-cell__bd margin-l-10">
                            <h4 class="weui-media-box__title font14 fw500">{{data.user_name}}</h4>
                            <p class="weui-media-box__desc font12 line-h-16">
                                真实姓名：
                                <span :class="{ unnamed: !data.real_name, font10: true }">{{data.real_name ? data.real_name : '未实名'}}</span>
                            </p>
                        </div>
                        <div :style="badge(data.level)" class="badge">
                            {{data.level}}
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <!--找不到该用户-->
        <div v-show="visible.nullResult">
            <template >
                <div class="weui-cells null-result">
                    <div class="weui-cell" style="margin-top: -100px">
                        <img src="../../images/null-result.png" alt="" style="width:60px;">
                        <span style="font-size: 14px;
color: #888888;height: 40px;line-height: 40px;">找不到该用户</span>
                    </div>
                </div>
            </template>
        </div>
        <!--底部链接-->
        <footer-vue :current="2"></footer-vue>

    </div>
    <script src="../../js/lib/vue.js"></script>
    <!--<script src="../../js/lib/vue-router.js"></script>-->
    <script src="../../js/lib/vue-infinite-scroll.js"></script>
    <script src="../../js/lib/axios.js"></script>
    <script src="../../js/lib/jsencrypt.js"></script>
    <script src="../../js/lib/fastclick.js"></script>
    <script src="../../js/connection/connection.js"></script>
</body>
</html>