body{
    background:#fff;
}
.header_pic {
    height: 74px;
    display: -webkit-box;
    -webkit-box-align: center;
}
[v-cloak] {
    display: none;
}
.txt-center{text-align: center;}
.index-nav-ul{
    display: -webkit-box;
    line-height: 1.4;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/*宽*/
.width-80{
    width:80%;
}
.width-30{
    width:30%;
}
.width-33{
    width:33%;
}
.width-20{
    width:20%;
}
.width-50{
    width:50%;
}

.box-left{
    border-left:1px solid #f4f3f3;
}
.box-right{
    border-right:1px solid #f4f3f3;
}

/*字体颜色*/
.txt-color-9b{
    color:#9B9B9B;
}
.ui-dialog-ft>.txt-color-red,.txt-color-red{
    color:red;
}

.txt-color-4a{
    color:#4a4a4a;
}
.txt-color-bbb{
    color:#BBB;
}

.txt-color-f75c{
    color:#f75c5c;
}
.txt-color-4A{
    color:#4a4a4a;
}
.txt-color-fff{
    color:#fff;
}

/*背景颜色*/
.bg-fe8{
    background:#FFE8E8;
}
.bg-tx{
    background-image: linear-gradient(90deg,#FA3935 0%,#FF8583 100%);
}
.bg-jf{
    background-image: linear-gradient(90deg,#FFC300 0%,#FFC947 100%);
}
/*边框*/
.border-l {
    border-left: 1px solid #fec3c3;
}
.border-l-ddd {
    border-left: 1px solid #ddd;
}
.border{border:1px solid #ddd;}
.border-l-0{border-left:0;}
.border-r-0{border-right:0;}
/*字体大小*/
.font36{font-size:36px;}
/*外边距*/
.margin-l-05{
    margin-left:5%;
}
.margin-r-020{
    margin-right:20%;
}
/*内边距*/
.padding-l-016{padding-left:16%;}
.padding-l-020{padding-left:20%;}
.padding-r-020{padding-right:20%;}
.padding-t-80{padding-top:80px;}
/*乱*/
.cur-p{cursor:pointer;}
.right-10{
    right:10px;
}
.nav-title{
    display: -webkit-box;
    -webkit-box-align: center;
    box-align: center;
    padding:5px 0;
}
.pos-ret{
    position: relative;
}
.pos-abs{
    position: absolute;
}

.box{
    display: flex;
}
.dis-b{display: inline-block;}
.dis-blk{display: block;}
.zd{
    width:60px;
    height:34px;
    line-height: 34px;
    background: #F7F7F7;
    border: 1px solid #DADADA;
    border-radius: 100px;
}
.span-button{
    width:90%;
    height:44px;
    line-height: 44px;
    border-radius:50px;
}
.yz>span{
    display: block;
}
.margin-l-10>.jin-list-link > li:after{
    color:#f75c5c;

}
.id-alert{
    width:100px;
    height:120px;
    background:url(../../images/id-alert.png);
    background-size: 100% 100%;
    position:absolute;
    left:85px;
    top:-30px;
}
.bank-alert{
    width:120px;
    height:120px;
    background:url(../../images/bank-alert.png);
    background-size: 100% 100%;
    position:absolute;
    left:75px;
    top:-30px;
}
.know-alert{
    width:120px;
    height:120px;
    background:url(../../images/deve-alert.png);
    background-size: 100% 100%;
    position:absolute;
    left:75px;
    top:-30px;
}
/*后面*/
.ui-avatar>img {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-border-radius: 200px;
    overflow: hidden;
}
.jin-footer-nav span {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: normal;
}
.jin-footer-nav{
    color: #787979;
    font-size: 10px;
    background-color: #f7f7f7;
    right: 0;
}
.click_a{
    -webkit-box-align: center;
    color:#000;
    display: -webkit-box;
    width:100%;
    height:100%;
}
.click_ax{
    display: block;
    -webkit-box-align: center;
    color:#000;
    width:100%;
    height:100%;
}
.yz > a>span {
    display: block;
}


