<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	    <meta name="author" content="ISUX"/>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	    <title>信息资产排行榜</title>
		<link rel="stylesheet" href="../../css/frozen.css">
		<link rel="stylesheet" href="../../css/jin-base.css"/>
		<link rel="stylesheet" href="../../css/assets/assets.css"/>
	</head>
	<body class="body-ba">
		<div class="ui-whitespace asset-list-wrap" id="assetsList" >
			<div v-if="loadingShow == false" >
			    <div class="ui-searchbar inupt-rgba ui-po-re30">
			        <i class="ui-icon-search ui-icon-clor"></i>
			        <div class="ui-searchbar-input "><input value="" type="search" placeholder="搜索用户排名" ></div>
			    </div>
			    <div class="asset-list-banner">
			        <img src="../../images/assets/infoset-header.png" width="100%">
			    </div>
			    <div class="bg-white">
			        <ul class="asset-list-before3 ui-whitespace">
			            <li v-for="item in firstThree">
			                <div class="ui-avatar" v-bind:class="{'ui-avatar-lg': item.ranke == 1 }">
			                    <span v-bind:style="{backgroundImage: 'url('+ item.avatar +')'}"></span>
			                </div>
			                <i class="asset-posi-ab ui-non1" v-bind:class="{'ui-non2': item.ranke == 1 }">{{item.ranke}}</i>
			                <div class="margin-t-5 text-center">
			                    <h4 class="ui-nowrap">{{item.userName}}</h4>
			                    <div class="font16 line-h-nor">{{item.assetsNumber}}</div>
			                </div>
			            </li>
			        </ul>
			        <ul class="ui-list jin-list  ui-border-tb">
			            <li class="ui-border-t" v-for="item in list">
			                <div class="headline">{{item.ranke > 99 ? '-' : item.ranke}}</div>
			                <div class="ui-avatar-s">
			                    <span v-bind:style="{backgroundImage: 'url('+ item.avatar +')'}"></span>
			                </div>
			                <div class="ui-list-info">
			                    <h4 class="ui-nowrap">{{item.userName}}</h4>
			                    <p class="margin-t-5 font12 ui-txt-info line-h-nor">排行({{item.ranke}})</p>
			                </div>
			                <div class="text-right">
			                    <i class="font16">{{item.assetsNumber}}</i>
			                    <p class="ui-txt-muted line-h-nor font12">信息资产</p>
			                </div>
			            </li>
			        </ul>
			        <div class="ui-loading-wrap ba-wi">
				        <p class="font14 ui-txt-info">正在加载中...</p>
				        <i class="ui-loading"></i>
				    </div>
			    </div>
			    <ul class="ui-list jin-list k-list-link container ui-border-t bottom-po-fi">
				    <li class="ui-border-t">
				        <div class="ui-avatar-s">
				            <span v-bind:style="{backgroundImage: 'url('+ user.avatar +')'}"></span>
				        </div>
				        <div class="ui-list-info">
				            <h4 class="ui-nowrap">{{user.userName}}</h4>
				            <p class="margin-t-5 font12 ui-txt-info line-h-nor">排行({{user.ranke}})</p>
				        </div>
				        <div class="text-right">
				            <i class="font16">{{user.assetsNumber}}</i>
				            <p class="ui-txt-muted line-h-nor font12">信息资产</p>
				        </div>
				    </li>
				</ul>
				
			</div>
			<loading v-if="loadingShow"></loading>
		</div>
		<script src="../../js/lib/vue.js"></script>
		<script src="../../js/assets/assets-list.js" "></script>
	</body>
</html>
