<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	    <meta name="author" content="ISUX"/>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	    <title>邀请好友一起赚钱</title>
		<link rel="stylesheet" href="../../css/frozen.css">
		<link rel="stylesheet" href="../../css/jin-base.css"/>
        <link rel="stylesheet" href="../../css/index/index.css"/>
	</head>
	<body>
		<div class="jin-wrap" id="container">
            <index-invite></index-invite>
            <jin-footer></jin-footer>
        </div>
		<script src="../../js/lib/vue.js"></script>
		<script src="../../js/index/invite.js"></script>
	</body>
</html>

