<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	    <meta name="author" content="ISUX"/>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	    <title>积分商城</title>
		<link rel="stylesheet" href="../../css/frozen.css">
		<link rel="stylesheet" href="../../css/jin-base.css"/>
        <link rel="stylesheet" href="../../css/discover/discover.css"/>
	</head>
	<body>
		<div id="container">
            <discover-credits></discover-credits>
        </div>
		<script src="../../js/lib/vue.js"></script>
		<script src="../../js/discover/credits.js"></script>
	</body>
</html>
