@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0; }

.bank-card-dashboard {
  color: #FFFFFF;
  padding: 15px;
  background: #13BF7B;
  height: 185px; }

.fanhui, .tianjia {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  display: inline-block; }

.tianjia {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.11px;
  padding: 10px 15px 10px 16px;
  line-height: 14px;
  float: right; }

.fanhui {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  vertical-align: middle;
  float: left; }

.fanhui:before {
  color: white;
  font-size: 16px; }

.button-group {
  position: relative; }

h1 {
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 0.31px;
  height: 56px;
  line-height: 56px;
  margin-top: 14px; }

.number {
  letter-spacing: 0.28px;
  font-size: 36px; }

.p-l-7 {
  padding-left: 7px; }

.b0 {
  bottom: 8px; }

.notyet {
  bottom: 30px;
  display: flex; }
  .notyet .notyet-icon:before, .notyet .notyet-icon {
    font-size: 14px;
    height: 18px;
    line-height: 18px; }
  .notyet .notyet-text {
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    font-weight: 200;
    letter-spacing: 0.14px;
    display: inline-block;
    padding-left: 7px; }

/*单张银行卡*/
.bank-card-cell {
  margin: 15px 10px 0 10px;
  border-radius: 5px;
  height: 140px;
  color: white;
  padding: 21px 0 15px 15px; }

.some-gradient {
  background-image: linear-gradient(90deg, #A56CA1 0%, #92458D 100%); }

.card-owner {
  height: 12px;
  line-height: 12px;
  margin-top: 33px; }

.note {
  display: inline-block;
  padding-left: 12px; }

.card-number {
  height: 25px;
  line-height: 25px;
  margin-top: 20px; }

.title {
  height: 14px;
  line-height: 14px; }

.mybank-card-ny {
  background: #25B59B;
  background: -webkit-linear-gradient(left, #25B59B, #0D9CB6); }

.mybank-card-gs {
  background: #C22727;
  background: -webkit-linear-gradient(left, #C22727, #9F0407); }

.mybank-card-gd {
  background: #A56CA1;
  background: -webkit-linear-gradient(left, #A56CA1, #92458D); }

.mybank-card-js {
  background: #5888C1;
  background: -webkit-linear-gradient(left, #5888C1, #3D5EA9); }

.mybank-card-zs {
  background: #F5515F;
  background: -webkit-linear-gradient(left, #F5515F, #D32F30); }

.mybank-card-jt {
  background: #72A5E0;
  background: -webkit-linear-gradient(left, #72A5E0, #4990E2); }

.mybank-card-other {
  background: #333;
  background: -webkit-linear-gradient(left, #7b7575, #120f0f); }

.card-null {
  height: calc(100vh - 185px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .card-null span {
    font-size: 14px;
    color: #9b9b9b; }

.legend {
  height: 50px;
  background: #576e80;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px; }
  .legend span {
    color: white; }

.my-cells {
  margin-top: 0; }
  .my-cells .weui-cell {
    height: 55px;
    line-height: 55px; }
  .my-cells .weui-cell:before {
    left: 0 !important; }
  .my-cells .weui-cell__hd label {
    font-size: 14px;
    color: #9b9b9b; }
  .my-cells .weui-vcode-btn {
    border: 0 !important;
    background: #FFCB00;
    border-radius: 4px;
    width: 85px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: white;
    padding: 0;
    margin-right: 10px; }
  .my-cells .vcode-ing {
    background: #ddd;
    letter-spacing: 0.11px; }
  .my-cells .button-panel {
    padding: 25px 10px 0 10px;
    background: #edecf3; }
    .my-cells .button-panel a {
      border-radius: 3px;
      background: #ffcb00;
      font-size: 16px;
      letter-spacing: 0.12px; }

.my-dialog .weui-dialog {
  width: 250px;
  border-radius: 5px; }
  .my-dialog .weui-dialog .weui-dialog__bd {
    padding: 25px 32px 9px 32px; }
    .my-dialog .weui-dialog .weui-dialog__bd p {
      font-size: 18px;
      color: #000;
      padding-bottom: 5px; }
    .my-dialog .weui-dialog .weui-dialog__bd span {
      display: inline-block;
      width: 151px;
      font-size: 14px;
      color: #888;
      line-height: 18px; }

.my-dialog a {
  color: #4990e2;
  font-size: 18px; }

.bank-cards {
  padding-bottom: 39px; }

.cert {
  font-size: 16px !important; }
  .cert.close {
    color: #FF3E2A; }

.cert-span {
  width: 100% !important;
  color: #4a4a4a !important; }

.cert-dialog {
  width: 265px !important;
  overflow: visible !important; }

.cert-img {
  width: 100px;
  position: absolute;
  top: -26px;
  left: 82px; }

.img-div {
  height: 58px; }

.bank-card-panel {
  padding-bottom: 25px !important; }

.my-actionsheet {
  width: calc(100% - 20px) !important;
  margin: 0 10px 10px 10px !important;
  background-color: transparent !important; }
  .my-actionsheet .my-text-cell {
    font-size: 18px;
    color: #4990E2; }
  .my-actionsheet .my-delete-cell {
    font-size: 18px;
    color: #FF3E2A; }
  .my-actionsheet .my-small-cell {
    font-size: 12px;
    color: #9B9B9B; }

.logo {
  width: 35px;
  position: absolute;
  left: 10px;
  top: 10px; }

.bank-card-cell {
  position: relative; }

.p-l-38 {
  padding-left: 38px; }
