<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" href="../../css/jin-base.css"/>
    <link rel="stylesheet" href="../../css/information/shezhi.css"/>
    <link rel="stylesheet" href="../../css/information/index.css"/>
    <link rel="stylesheet" href="../../css/frozen.css"/>
</head>
<body style="max-width:100%;">
<div id="container" class="container">
 <div class="jin-wrap">
    <!--头部-->
    <div class="header">
        <div class="k-box-center content" id="user">
            <div class="header-pic" onclick="location.href='password.html'">
                <span  style="background-image:url('../../images/information/pro-02.png')"></span>
            </div>
            <div class="margin-t-10 font18 user-title txt-color-fff">
                <div >{{userName}}</div>
                <div class="user-vip">{{userVip}}</div>
            </div>
            <div class="txt-color-fff kd-date">
                <span></span>
                <p class="margin-l-5 font12">已加入空店{{userDay}}天</p>
            </div>
        </div>
        <div class="ui-avatar user-home-mail user-email" onclick="location.href='01.html'"><i class="font20 k-icon-xiangyou k-box-center txt-color-fff"></i></div>
        <div class="ui-avatar user-home-mail user-suss" onclick="location.href='02.html'"><i class="font20 k-box-center  k-icon-chacha"></i></div>
    </div>
    <!--主体-->
    <div class="user-all ui-whitespace margin-t-30">
        <!--01-->
        <div class="margin-t-30 margin-b-15 bg-fff user-all-top ui-justify-flex" >
            <div class="user-all-top-main">
                <div class="">
                    <i class="k-icon jin-icon-shenfenzheng txt-color-red font22"></i>
                </div>
            </div>
            <ul class="user-all-top-ul ui-list-info "   id="ziliao" >
                <li class="box-align">
                    <h4 class="margin-l-15 margin-r-15 font16 txt-color-9b">姓名：</h4>
                    <div class="box-align txt-color-6f font14 font-over">
                       {{ziliao[0].name}}
                        <div class="shiming box-align margin-l-5">
                            <i class="k-icon jin-icon-yonghu1 font10 line-h-nor ui-txt-white"></i>
                            <h6>实名验证</h6>
                        </div>
                    </div>
                </li>
                <li class="box-align">
                    <h4 class="margin-l-15 margin-r-15 font16 txt-color-9b">电话：</h4>
                    <div class="txt-color-6f font14 font-over">{{ziliao[1].photo}}</div>
                </li>
                <li class="box-align">
                    <h4 class="margin-l-15 margin-r-15 font16 txt-color-9b">邮箱：</h4>
                    <div class=" txt-color-6f font14 font-over">{{ziliao[2].email}}</div>
                </li>
                <li class="box-align">
                    <h4 class="margin-l-15 margin-r-15 font16 txt-color-9b">公司：</h4>
                    <div class=" txt-color-6f font14 font-over">{{ziliao[3].gongsi}}</div>
                </li>
                <li class="box-align" style="text-align: -webkit-match-parent; -webkit-box-align: initial;">
                    <h4 class="margin-l-15 margin-r-15 font16 txt-color-9b">地址：</h4>
                    <div class="txt-color-6f font14 font-over">{{ziliao[4].dizhi}}</div>
                </li>
                <li style="display: -webkit-box;">
                    <h4 class="margin-r-15 font16 txt-color-9b">二维码：</h4>
                    <div class="app">
                        <div class="app-img">
                            <img src="../../images/information/01.jpg" width="100%" height="100%">
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <!--02-->
        <div class="user-all-center ui-justify-flex bg-fff margin-b-15">
            <div class="user-all-center-main">
                <div>
                    <i class="k-icon jin-icon-yonghu1 txt-color-red font22"></i>
                </div>
            </div>
            <div class="user-all-center-ul ui-list-info margin-l-15" id="renmai" >
                <h4 class="margin-l-5 margin-b-5 font12">{{select}}个一度人脉</h4>
                <ul style="display:-webkit-box;">
                    <li v-for="key in options" >
                        <div class="ui-avatar-s">
                            <span :style="{backgroundImage:'url('+key.pic+')'}"></span>
                        </div>
                        <h4 class="margin-t-5 font12 txt-color-777">{{key.name}}</h4>
                    </li>
                    <!--<li>-->
                       <!--<div class="vue-avatar-s">-->
                            <!--<span style="background-image:url(../../images/pro-02.png)"></span>-->
                        <!--</div>-->
                        <!--<h4 class="margin-t-5 font12 txt-color-777">全智贤</h4>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="vue-avatar-s">-->
                            <!--<span style="background-image:url(../../images/pro-03.png)"></span>-->
                        <!--</div>-->
                        <!--<h4 class="margin-t-5 font12 txt-color-777">离间</h4>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="vue-avatar-s">-->
                            <!--<span style="background-image:url(../../images/pro-04.png)"></span>-->
                        <!--</div>-->
                        <!--<h4 class="margin-t-5 font12 txt-color-777">郭嘉</h4>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <!--03-->
        <div class="user-all-center ui-justify-flex bg-fff">
            <div class="user-all-center-main">
                <div>
                    <i class="k-icon jin-icon-yonghu1 txt-color-red font22"></i>
                </div>
            </div>
            <div class="user-all-footer-ul ui-list-info">
                <ul class="footer-ul font12 margin-b-5">
                    <li class="ul-center" data-href="#">
                        <div class="box-align">
                            <div class="ul-center-pic margin-r-5" style="background-position: 5px 0;"></div>
                            <div>社区空店</div>
                        </div>
                    </li>
                    <li class="ul-center" data-href="#">
                        <div class="box-align">
                            <div class="ul-center-pic margin-r-5" style="background-position: -150px 0;"></div>
                            <div>商城</div>
                        </div>
                    </li>
                </ul>
                <ul class="footer-ul font12">
                    <li class="ul-center" data-href="#">
                        <div class="box-align">
                            <div class="ul-center-pic margin-r-5" style="background-position: -70px 0;"></div>
                            <div>保险</div>
                        </div>
                    </li>
                    <li class="ul-center">
                        <div class="box-align" data-href="#">
                            <div class="ul-center-pic margin-r-5" style="background-position: -226px 0;"></div>
                            <div>东方小金</div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <!--04-->
    </div>
    <!---->

    <!--底部-->
    <footer class="ui-footer k-footer-nav">
        <ul class="ui-tiled ui-border-t">
            <li onclick="location.href='number.html'">
                <span id="current_footer_1" class="jin-icon-qianbao"></span><i>首页</i>
            </li>
            <li data-href="">
                <span id="current_footer_2" class="jin-icon-theme"></span><i>人脉</i>
            </li>
            <li data-href="">
                <span id="current_footer_3" class="jin-icon-yinxingqia"></span><i>发现</i>
            </li>
            <li data-href="" class="current">
                <span id="current_footer_4" class="jin-icon-shimingrenzheng"></span><i>我</i>
            </li>
        </ul>
    </footer>

    <!--底部00-->
 </div>
</div>
<script src="../../js/lib/vue.js"></script>
<script>
    //vue渲染
    var vm= new Vue({
        el:'#ziliao',
        data:{
           ziliao:[
                {name:'凌天'},
               {photo:'18587596820'},
               {email:'770364263@qq.com'},
               {gongsi:'广西冠通天下科技有限公司'},
               {dizhi:'广西南宁清秀区金湖路63号CBD现代城801室'}

        ]
    }
    });
    var v= new Vue({
        el:'#user',
        data:{
            userName:'全智贤',
            userVip:'银卡会员',
            userDay:'732'
        }
    });
    var m=new Vue({
        el: '#renmai',
        data: {
            select: '39',
            options: [
                { name: '陈粒',pic:'../../images/information/pro-01.png'},
                { name: '离间',pic:'../../images/information/pro-02.png'},
                { name: '郭嘉',pic:'../../images/information/pro-03.png'},
                { name: '全智贤',pic:'../../images/information/pro-04.png' }
            ]
        }
    })

</script>
</body>
</html>