<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>空店密码管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/kong-base.css"/>
    <link rel="stylesheet" href="../../css/information/index.css"/>
    <link rel="stylesheet" href="../../css/frozen.css"/>
</head>
<body style="max-width:100%;">
<div id="container" class="container">
 <div class="jn-wrap" style="margin-top:10px;">
  <div class="padding-b-56 margin-t-20">
    <div class="margin-b-15 margin-t-15">
        <ul class="ui-list ui-list-active ui-border-tb k-list-link">
            <li class="ui-border-t padding-t-5 padding-b-5" onclick="location.href='a.html'">
                <div class="ui-list-info">
                    <h4>重置支付密码</h4>
                </div>
            </li>
            <li class="ui-border-t padding-t-5 padding-b-5" onclick="location.href='b.html'">
                <div class="ui-list-info">
                    <h4>重置登陆密码</h4>
                </div>
            </li>
        </ul>
    </div>
  </div>

    <!--底部-->
    <footer class="ui-footer k-footer-nav">
        <ul class="ui-tiled ui-border-t">
            <li data-href="">
                <span id="current_footer_1" class="k-icon-arrowleftcircle"></span><i>首页</i>
            </li>
            <li data-href="">
                <span id="current_footer_2" class="k-icon-addressbook"></span><i>人脉</i>
            </li>
            <li data-href="">
                <span id="current_footer_3" class="k-icon-discover"></span><i>发现</i>
            </li>
            <li data-href="">
                <span id="current_footer_4" class="k-icon-my"></span><i>我</i>
            </li>
        </ul>
    </footer>

    <!--底部00-->
 </div>
</div>

</body>
</html>