<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>空店密码管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/frozen.css"/>
    <link rel="stylesheet" href="../../css/jin-base.css"/>
    <link rel="stylesheet" href="../../css/information/index.css"/>
</head>
<div id="container" class="container">
 <div class="jin-wrap">
  <div class="padding-b-56 margin-t-20">
    <div class="margin-b-15 margin-t-15">
        <ul class="ui-list ui-list-active ui-border-tb jin-list-link">
            <li class="ui-border-t padding-t-5 padding-b-5" onclick="location.href='pwdPay.html'">
                <div class="ui-list-info">
                    <h4>重置支付密码</h4>
                </div>
            </li>
            <li class="ui-border-t padding-t-5 padding-b-5" onclick="location.href='close.html'">
                <div class="ui-list-info">
                    <h4>重置登陆密码</h4>
                </div>
            </li>
        </ul>
    </div>
  </div>
    <!--底部00-->
 </div>
</div>

</body>
</html>