<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>空店个人信息设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/information/password.css"/>
    <link rel="stylesheet" href="../../css/kong-base.css"/>
    <link rel="stylesheet" href="../../css/information/index.css"/>
    <link rel="stylesheet" href="../../css/frozen.css"/>
</head>
<body style="max-width:100%;">
<div id="container" class="container">
 <div class="jin-wrap"  style="margin-top:10px;">
    <!--01-->
    <ul class="ui-list ul-all ui-list-active border-b-1 border-t-1  k-list-link" id="yhxx">
        <li class="ui-border-b" onclick="location.href='name.html'">
            <div class="ui-list-info">
                <h4 class="ui-nowrap">常用名</h4>
            </div>
            <span class="font14 ui-txt-info">{{name}}</span>
        </li>
        <li class="ui-border-b" onclick="location.href='inviter.html'">
            <div class="ui-list-info">
                <h4 class="ui-nowrap">邀请人</h4>
            </div>
            <span class="font14 ui-txt-info">{{yqr}}</span>
        </li>
        <li onclick="location.href='phone.html'">
            <div class="ui-list-info">
                <h4 class="ui-nowrap">手机号码</h4>
            </div>
            <span class="font14 ui-txt-info" >{{phone}}</span>
        </li>
    </ul>
<!--02-->
    <div class="possword border-b-1 border-t-1">
        <ul class="ui-list ul-all ui-list-active  k-list-link">
            <li onclick="location.href='mima.html'">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">密码管理</h4>
                </div>
            </li>
        </ul>
    </div>
<!--03-->
    <div class="exit border-b-1 border-t-1" onclick="location.href='../login/login.html'">
       <span class="exit-span">退出登录</span>
    </div>

    <!--底部-->
    <footer class="ui-footer k-footer-nav">
        <ul class="ui-tiled ui-border-t">
            <li data-href="">
                <span id="current_footer_1" class="k-icon-arrowleftcircle"></span><i>首页</i>
            </li>
            <li data-href="">
                <span id="current_footer_2" class="k-icon-addressbook"></span><i>人脉</i>
            </li>
            <li data-href="">
                <span id="current_footer_3" class="k-icon-discover"></span><i>发现</i>
            </li>
            <li data-href="">
                <span id="current_footer_4" class="k-icon-my"></span><i>我</i>
            </li>
        </ul>
    </footer>

    <!--底部00-->
<!---->
 </div>
</div>
<script src="../../js/lib/vue.js"></script>
<script>
    //vue渲染
    var vm= new Vue({
        el:'#yhxx',
        data:{
            name:'全智贤',
            yqr:'七叔',
            phone:'139****0143'
        }
    });
</script>

</body>
</html>