<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>空店个人信息设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/frozen.css"/>
    <link rel="stylesheet" href="../../css/jin-base.css"/>
    <link rel="stylesheet" href="../../css/information/password.css"/>
</head>
<body>
<div id="container" class="container">
 <div class="jin-wrap margin-t-10" >
    <!--01-->
    <ul class="ui-list ul-all ui-list-active border-b-1 border-t-1  jin-list-link">
        <li class="ui-border-b" onclick="location.href='name.html'">
            <div class="ui-list-info">
                <h4 class="ui-nowrap">常用名</h4>
            </div>
            <span class="font14 ui-txt-info">{{info.name}}</span>
        </li>
        <li class="ui-border-b" onclick="location.href='inviter.html'">
            <div class="ui-list-info">
                <h4 class="ui-nowrap">邀请人</h4>
            </div>
            <span class="font14 ui-txt-info">{{info.yqr}}</span>
        </li>
        <li onclick="location.href='phone.html'">
            <div class="ui-list-info">
                <h4 class="ui-nowrap">手机号码</h4>
            </div>
            <span class="font14 ui-txt-info" >{{info.phone}}</span>
        </li>
    </ul>
<!--02-->
    <div class="possword border-b-1 border-t-1">
        <ul class="ui-list ul-all ui-list-active  jin-list-link">
            <li onclick="location.href='mima.html'">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap ">密码管理</h4>
                </div>
            </li>
        </ul>
    </div>
<!--03-->
    <div class="exit border-b-1 border-t-1" onclick="location.href='../login/login.html'">
       <span class="exit-span">退出登录</span>
    </div>

<!---->
 </div>
</div>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/information/password.js"></script>
</body>
</html>