<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta name="author" content="ISUX"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>重置支付密码3</title>
	<link rel="stylesheet" href="/jin2.0/css/frozen.css"/>
	<link rel="stylesheet" href="/jin2.0/css/jin-base.css"/>
	<link rel="stylesheet" href="/jin2.0/css/information/index.css"/>
    <style>
    	.bg-gray { 
    		color: #CCCCCF !important;
    		background-color: #E9EBEC;
    	}
    </style>
</head>
<body>
<div class="k-wrap container" id="container">
	<router-view></router-view>
		<!--<div class="ui-border-t margin-t-15">-->
		    <!--<form action="#" id="form">		        -->
		        <!--<div class="ui-form-item ui-border-b bg-white">-->
		            <!--<label>手机号</label>-->
		            <!--<input type="tel" id="phone" name="phone" placeholder="输入你的手机号">-->
		        <!--</div>-->
		        <!--<div class="ui-form-item ui-form-item-r  bg-white">-->
		        	<!--<label>验证码</label>-->
		            <!--<input type="text" id="code" name="code" placeholder="输入验证码" style="padding-left: 95px;padding-right: 120px;">-->
		            <!--<button type="button" class="ui-border-l" id="get-code">获取验证码</button>-->
		        <!--</div>-->
		        <!--<div class="ui-form-item ui-border-tb bg-white margin-t-15">-->
		            <!--<label>新密码</label>-->
		            <!--<input type="password" id="password" name="password" placeholder="输入新密码" />-->
		        <!--</div>-->
		        <!--<div class="ui-form-item ui-border-b bg-white">-->
		            <!--<label>确认新密码</label>-->
		            <!--<input type="password" id="password1" name="password1" placeholder="再次输入新密码" />-->
		        <!--</div>-->
		    <!--</form>-->
		<!--</div>-->
				<!-- -->
		<!--<div class="ui-btn-wrap">-->
		    <!--<button class="ui-btn-lg ui-btn-primary" id="submit" disabled="disabled">保存</button>-->
		<!--</div>-->
	</div>
<script src="/jin2.0/js/lib/vue.js"></script>
<script src="/jin2.0/js/lib/jsencrypt.js"></script>
<script src="/jin2.0/js/lib/axios.js"></script>
<script src="/jin2.0/js/lib/vue-router.js"></script>
<script src="/jin2.0/js/information/pwdPay3.js" ></script>
</body>
</html>