<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="ISUX"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<title>重置支付密码</title>
	<link rel="stylesheet" href="/jin2.0/css/frozen.css"/>
	<link rel="stylesheet" href="/jin2.0/css/jin-base.css"/>
	<link rel="stylesheet" href="/jin2.0/css/information/index.css"/>
</head>
<body>
<div class="k-wrap container" id="container" v-cloak>
	<router-view></router-view>
</div>

 <!--<div class="k-wrap container" id="container" v-cloak>-->
	 <!--<div>-->
		<!--<div class="ui-border-t margin-t-15">-->
		    <!--<form action="#" id="form">		        -->
		        <!--<div class="ui-form-item ui-border-b bg-white">-->
		            <!--<label>姓名</label>-->
		            <!--<input class="text-right" type="text" name="name" value="*恩景">-->
		        <!--</div>-->
		        <!--<div class="ui-form-item ui-border-b bg-white">-->
		        	<!--<label>身份证号</label>-->
		            <!--<input type="text" id="idCard" name="idCard" placeholder="身份证号码" v-model="info.id_cart_phone" v-on:blur="test">-->
		        <!--</div>-->
		        <!--<div class="ui-form-item ui-form-item-link ui-border-tb bg-white margin-t-10" id="select-bank">-->
		            <!--<label><router-link  to="/goods">选择银行</router-link></label>-->
		            <!--<input type="text" id="bank" name="bank" value="" readonly="readonly"/>-->
		        <!--</div>-->
		        <!--<div class="ui-form-item ui-border-b bg-white">-->
		            <!--<label>银行卡号</label>-->
		            <!--<input type="tel" id="bank_number" name="bank_number" placeholder="输入银行卡号码"  v-model="info.bank_cart_phone" v-on:blur="test">-->
		        <!--</div>-->
		    <!--</form>-->
		<!--</div>-->
		<!--<div class="ui-whitespace font14 ui-txt-muted padding-t-5">-->
			<!--以上内容仅作为信息对比，空店将严格保密。-->
		<!--</div>	-->
		<!--<div class="ui-btn-wrap">-->
		    <!--<button class="ui-btn-lg ui-btn-primary" id="submit" :disabled=disabled v-on:click="goGetbank">下一步</button>-->
		<!--</div>-->
	<!--</div>-->

 <!--</div>-->
 <script src="/jin2.0/js/lib/vue.js"></script>
 <script src="/jin2.0/js/lib/jsencrypt.js"></script>
 <script src="/jin2.0/js/lib/axios.js"></script>
 <script src="/jin2.0/js/lib/vue-router.js"></script>
 <script src="/jin2.0/js/information/pwdPay2.js" ></script>


</body>
</html>
