<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	    <meta name="author" content="ISUX"/>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	    <title>重置支付密码列表</title>
		<link rel="stylesheet" type="text/css" href="../../css/frozen.css">
		<link rel="stylesheet" type="text/css" href="../../css/jin-base.css">
	</head>
	<body>
		<div class="jin-wrap container">
			<div class="ui-whitespace padding-t-10 padding-b-10">
				<span class="font16">你正在为15878193546重置支付密码</span>
			</div>
			<ul class="ui-list jin-list-link ui-list-active ui-border-tb">
				<li class="ui-border-t padding-t-5 padding-b-5"  onclick="location.href='pwdPay1.html'">
					<div class="ui-list-info">
						<h4>我记得原支付密码</h4>
					</div>
				</li>
			</ul>
			<ul class="ui-list jin-list-link ui-list-active ui-border-tb margin-t-10">
				<li class="ui-border-t padding-t-5 padding-b-5"  onclick="location.href='pwdPay2.html'">
					<div class="ui-list-info">
						<h4>我忘记支付密码了</h4>
					</div>
				</li>
			</ul>
			
		</div>
	</body>
</html>
