<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta name="author" content="ISUX"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>重置支付密码1</title>
	<link rel="stylesheet" type="text/css" href="../../css/frozen.css">
	<link rel="stylesheet" type="text/css" href="../../css/jin-base.css">
</head>
<body>
	<div class="k-wrap container">
		
    	<div class="ui-form ui-border-t margin-t-15">
		    <form id="from">
		        <div class="ui-form-item ui-border-b">
		            <label>原密码</label>
		            <input type="password" id="password" name="password" placeholder="请输入原支付密码" >
		        </div>
		        <div class="ui-form-item ui-border-b">
		            <label>新密码</label>
		            <input type="password" id="password1" name="password1" placeholder="请输入新支付密码" >
		        </div>
		        <div class="ui-form-item ui-border-b">
		            <label>确认新密码</label>
		            <input type="password" id="password2" name="password2" placeholder="再次确认新支付密码" >
		        </div>
		    </form>
		    <div class="ui-btn-wrap">
			    <button class="ui-btn-lg ui-btn-primary" id="submit" disabled="disabled">保存</button>
			</div>
		</div>
		
	</div>
	</body>
</html>
