<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的</title>
    <link rel="stylesheet" href="../../css/my/index.css"/>
    <link rel="stylesheet" href="../../css/kong-base.css"/>
    <link rel="stylesheet" href="../../css/frozen.css"/>
</head>
<body>
    <div id="container" class="container">
        <!--01-->
        <div class="ui-list ui-justify-flex ui-whitespace k-box-align">
            <div class="header_pic width-20">
                <div class="ui-avatar">
                    <span style="background-image:url(../../images/my/pro-02.png)"></span>
                </div>
            </div>
            <ul class="txt-center index-nav-ul width-80"  >
                <li class=" width-30 box-left">
                    <h4 class="font14">5600</h4>
                    <div class="font12 txt-color-9b">信息资产</div>
                </li>
                <li class="width-30  box-left" >
                    <h4 class="font14">3300</h4>
                    <div class="font12 txt-color-9b">小金积分</div>
                </li>
                <li class=" width-30  box-left">
                    <h4 class="font14">银卡</h4>
                    <div class="font12 txt-color-9b">会员中心</div>
                </li>
            </ul>
        </div>
        <!--02-->
        <div class="bg-fe8 ui-whitespace">
            <div class="nav-title txt-color-9b">
                    <div class="font26 txt-color-f75c">17</div>
                    <div class="font10 margin-l-10 txt-color-f75c">
                        <div>10月</div>
                        <div>星期一</div>
                    </div>
                <div class="margin-l-10" style="width:70%;">
                    <ul class="k-list-link txt-color-f75c">
                        <li class="ui-border-l line-h-16 pos-ret padding-l-10">
                            <h4 class="ui-nowrap">邀请好友一起赚钱</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--03-->
        <!--04-->
        <!--05-->

    </div>
</body>
</html>