<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="author" content="ISUX"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>我的</title>
    <link rel="stylesheet" href="../../css/frozen.css"/>
    <link rel="stylesheet" href="../../css/jin-base.css"/>
    <link rel="stylesheet" href="../../css/my/index.css"/>
    <style>
    </style>
</head>
<body>
 	<div id="container" class="jin-wrap" v-cloak>
        <!--01-->
        <div class="ui-list ui-justify-flex ui-whitespace k-box-align">
            <div class="header_pic width-20">
                <div class="ui-avatar">
                    <img :src="wechat_avatar" alt=""/>
                </div>
            </div>
            <ul class="txt-center index-nav-ul width-80"  >
                <li class=" width-33 box-left" @click="changeLouter('/xiaojin/assets/index.html')">
                    <h4 class="font16">{{info_asset}}</h4>
                    <div class="font12 txt-color-bbb">信息资产</div>
                </li>
                <li class="width-33  box-left" >
                    <h4 class="font16">{{score}}</h4>
                    <div class="font12 txt-color-bbb">小金积分</div>
                </li>
                <li class="width-33  box-left">
                    <h4 class="font16">{{level_name}}</h4>
                    <div class="font12 txt-color-bbb">会员中心</div>
                </li>
            </ul>
        </div>
        <!--02-->
        <div class="bg-fe8 ui-whitespace">
            <div class="nav-title txt-color-9b pos-ret">
                    <div class="font26 txt-color-f75c">{{nowDate}}</div>
                    <div class="font10 margin-l-10 txt-color-f75c">
                        <div>{{nowMonth+1}}月</div>
                        <div>星期{{nowStr}}</div>
                    </div>
                <div class="margin-l-10" style="width:70%;">
                    <ul class="jin-list-link txt-color-f75c">
                        <li class="border-l line-h-16 padding-l-016 margin-l-10">
                            <h4 class="ui-nowrap font14" style="font-weight: bold;" @click="changeLouter(invite_url)">邀请好友一起赚钱</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--03-->
        <div class="box pos-ret padding-b-20 padding-t-20">
            <div class="padding-l-10">
                <h4 class="font36 txt-color-f75c">{{can_user_money}}</h4>
                <div class="font12 txt-color-9b">可提现金额（元）</div>
            </div>
            <div class="pos-abs right-10">
                <span class="dis-b zd margin-t-15 txt-center txt-color-4A font14 cur-p"  onclick="location.href='http://jin.weigudong.cn/index.php/bill/index.html'">账单</span>
            </div>
        </div>
        <!--04-->
        <div class="padding-b-20 padding-t-20">
            <ul class="box">
                <li class="width-50">
                    <div class="padding-l-20">
                        <h4 class="font20 ">{{last_month_divident}}</h4>
                        <div class="font12 txt-color-9b">上月分红（元）</div>
                    </div>
                </li>
                <li class="border-l-ddd width-50">
                    <div class="padding-l-20">
                        <h4 class="font20 ">{{last_month_commission}}</h4>
                        <div class="font12 txt-color-9b">上月佣金（元）</div>
                    </div>
                </li>
            </ul>
        </div>
        <!--05-->
        <div class="box padding-b-20 padding-t-20">
            <div class="width-50">
                <span class="dis-b span-button bg-tx txt-center txt-color-fff margin-l-05 cur-p" v-on:click="getWithdrawal">提现</span>
            </div>
            <div class="width-50">
                <span class="dis-b span-button bg-jf txt-center txt-color-fff margin-l-05 cur-p" v-on:click="getIntegral">积分商城</span>
            </div>
        </div>
        <!--06-->
        <div>
            <ul class="box ui-border-b ui-border-t">
                <li class="width-50 yz ui-border-r">
                    <span class="font16 padding-t-20 padding-l-20" onclick="location.href='http://jin.weigudong.cn/vboom.php/oscar/myid.html'">身份认证</span>
                    <span class="txt-color-9b padding-b-20 padding-l-20 font14">{{real_name}}</span>
                </li>
                <li class="width-50 yz">
                    <span class="font16 padding-t-20 padding-l-20" onclick="location.href='http://jin.weigudong.cn/vboom.php/oscar/mybank.html'">银行卡</span>
                    <span class="txt-color-9b padding-b-20  padding-l-20 font14">{{user_bank_count}}张</span>
                </li>
            </ul>
            <ul class="box ui-border-b">
                <li class="width-50 yz ui-border-r">
                    <span class="font16 padding-t-20 padding-l-20" onclick="location.href='http://jin.weigudong.cn/index.php/info/me.html'">个人设置</span>
                    <span class="txt-color-9b padding-b-20 padding-l-20 font14">修改个人信息</span>
                </li>
                <li class="width-50 yz">
                </li>
            </ul>
        </div>
        <!--07-->
        <div class="ui-dialog" v-bind:class='{"show" :info.isA,"hide" :info.isB}'>
           <div class="ui-dialog-cnt padding-t-80 pos-ret">
                <div class="ui-dialog-bd">
                   <span class="font18 dis-blk">请先开通实名验证</span>
                    <span class="font14 txt-color-4a">你的账户未实名验证，无法操作此步骤，请先前往实名验证</span>
                </div>
                <div class="ui-dialog-ft" >
                    <button type="button" data-role="button" onclick="location.href='../information/phone.html'">去开通</button>
                </div>
                <div class="ui-dialog-ft">
                    <button type="button" data-role="button" class="txt-color-red" v-on:click="getShutDown">关闭</button>
                </div>
                <span class="dis-blk id-alert"></span>
          </div>
        </div>
       <!--<Banking v-if="BankingShow"></Banking>-->
        <!--08-->
        <div class="ui-dialog" v-bind:class='{"show" :info.isC,"hide" :info.isD}'>
            <div class="ui-dialog-cnt padding-t-80 pos-ret">
                <div class="ui-dialog-bd">
                    <span class="font18 dis-blk">您还未添加银行卡</span>
                    <span class="font14 txt-color-4a">您还未添加银行卡，无法操作此步骤，请先前往添加银行卡</span>
                </div>
                <div class="ui-dialog-ft" >
                    <button type="button"  onclick="location.href='../information/phone.html'">去添加</button>
                </div>
                <div class="ui-dialog-ft">
                    <button type="button" data-role="button" class="txt-color-red" v-on:click="getClone">关闭</button>
                </div>
                <span class="dis-blk bank-alert"></span>
            </div>
        </div>

        <!--9-->
        <!--<development v-if="developmentShow"></development>-->
        <!--09-->
            <div class="ui-dialog" v-bind:class='{"show" :info.isE,"hide" :info.isF}'>
                <div class="ui-dialog-cnt padding-t-80 pos-ret">
                    <div class="ui-dialog-bd">
                        <span class="font18 dis-blk">功能正在开发中</span>
                        <span class="font14 txt-color-4a">程序员正在加班加点开发，请耐心等待上线</span>
                    </div>
                    <div class="ui-dialog-ft" >
                        <button type="button" v-on:click="getKnow">我知道了</button>
                    </div>
                    <span class="dis-blk know-alert"></span>
                </div>
            </div>
        <!--10-->
		<jin-footer :current="4"></jin-footer>
   	</div>
    <script src="../../js/lib/vue.js"></script>
    <!--<script src="../../js/lib/axios.js"></script>-->
    <script src="../../js/my/index.js"></script>
 
</body>
</html>