<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>积分商城</title>
    <link rel="stylesheet" href="../../css/frozen.css"/>
    <link rel="stylesheet" href="../../css/jin-base.css"/>
    <link rel="stylesheet" href="../../css/my/index.css"/>
    <link rel="stylesheet" href="../../css/my/Integral.css"/>
</head>
<body>
<div id="container" class="container">
    <div class="">
        <ul class="bg-white ui-row box padding-t-10 padding-b-10">
            <li class="ui-col ui-col-30">
                <div class="top-pic">
                    <div class="a11-pic" style="background-position: -260px 0;"></div>
                    <div>0积分</div>
                </div>
            </li>
            <li class="ui-col ui-col-30">
                <div class="top-pic">
                    <div class="a11-pic" style="background-position: 12px -55px;"></div>
                    <div>兑换记录</div>
                </div>
            </li>
            <li class="ui-col ui-col-30">
                <div class="top-pic">
                    <div class="a11-pic" style="background-position: -77px -55px;"></div>
                    <div>积分商城</div>
                </div>
            </li>
        </ul>

    </div>
</div>
</body>
</html>