<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的</title>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link rel="stylesheet" href="../../css/frozen.css"/>
    <link rel="stylesheet" href="../../css/jin-base.css"/>
    <link rel="stylesheet" href="../../css/my/integral.css"/>
    <style>
    </style>
</head>
<body>
<div class="container" id="container">
    <div class="jin-wrap">
        <!--01-->
        <div>
            <ul class="bg-white l1 ui-row padding-b-10 padding-t-10">
                <li class="ui-col ui-col-33">
                    <div class="a11">
                        <div class="a11-pic" style="background-position:-260px 0;"></div>
                        <div><span class="txt-color-red">0</span>积分</div>
                    </div>
                </li>
                <li class="ui-col ui-col-33">
                    <div class="a11">
                        <div class="a11-pic" style="background-position:12px -55px;"></div>
                        <div>兑换记录</div>
                    </div>
                </li>
                <li class="ui-col ui-col-33">
                    <div class="a11">
                        <div class="a11-pic" style="background-position:-170px -55px;"></div>
                        <div>积分规则</div>
                    </div>
                </li>
            </ul>
        </div>
        <!--02-->
        <!--附近社区店-->


        <!--03-->
        <!--04-->
        <!--05-->


    </div>

</div>

</body>
</html>